docs/_build/
build/build/
build/custom_project_tik/
build/output/
build/vendors/
dist/
mindiesd.egg-info/
mindiesd/ops/
mindiesd/plugin/
modify_files.txt
.coverage
tests/.coverage
test_file/
tests/kernel_meta/
tests/UT/coverage.xml
tests/UT/final.xml
tests/UT/htmlcov/
tests/UT/htmlcov_*.tar.gz
tests/UT/run_UT.log
tests/build.log
tests/tests/
**/__pycache__/
